/**
 * TextareaFormField Component Demo Style for Uxcore
 * @author eternalsky
 *
 * Copyright 2014-2015, Uxcore Team, Alinw.
 * All rights reserved.
 */

@import "../src/TextareaFormField.less";

.demo {
    .textarea {
        .kuma-textarea {
            min-height: 100px;
            // max-height: 200px;
        }
    } 

    .textarea2 {
        .kuma-textarea {
            min-height: 80px;
            max-height: 150px;
        }
    }
}